########################################
# Gradle
########################################

.gradle/
build/
out/
classes/
!build/libs/
!build/docs/javadoc/index.html

# Allow specific JARs (explicit artifacts)
!build/libs/moddinghelperapi-1.0.0.jar
!build/libs/moddinghelperapi-1.0.0-sources.jar
!build/libs/moddinghelperapi-1.0.0-javadoc.jar


########################################
# IDEs
########################################

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
*.launch
.classpath
.project

# VS Code
.vscode/
.settings/
bin/


########################################
# OS / System Files
########################################

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini


########################################
# Java Runtime Crash Logs
########################################

hs_err_*.log
replay_*.log
*.hprof
*.jfr


########################################
# Fabric / Minecraft
########################################

run/
run-server/
logs/
crash-reports/
